{% extends "base.html" %}

{% block content %}
    <h1>Your Reservations</h1>
    {% if reservations %}
    <table class="reservation-table">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody id="reservation-list">
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.start_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ reservation.end_time.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You have no reservations.</p>
{% endif %}

    <div id="root">
    </div>

    <!-- React CDN -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <!-- Babel CDN (for JSX) -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- My Apps -->
    <script src="/static/jsx/reservations.jsx" type="text/jsx"></script>
    <script src="/static/jsx/app.jsx" type="text/jsx"></script>



{% endblock %}
